.gparent{
    background-color: rgb(200, 202, 204);
    height: 290px;

}
.parent{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.child{
    border-radius: 50px;
    height: 150px;
    width: 170px;
    border: 2px solid rgb(67, 10, 10);
    background-color: white;
}

.child1_img{
    height: 80px;
}
.myh2{
    text-align: center;
    position: relative;
    right: 500px;
    top: 30px; 
}

.mylink{
    text-decoration: none;
    color: rgb(86, 98, 186);
}

.myh4{
    
    text-align: end;
    position: relative;
    top: -25px;
    left: -150px
    
}

.myh6{
    text-align: center;
}

img{
    position: relative;
    left: 25%;
    border-radius: 20px;
    height: auto;
    width: 80px;
}
.child:hover {
    cursor: pointer; /* Changes cursor */
    height:150px;
    
    background-color: rgb(139, 142, 142); /* Highlights the box */
    box-shadow: 10px 10px 10px rgba(42, 19, 19, 0.3); /* Adds shadow effect */
    border: 2px solid rgb(28, 30, 28); /* Highlights with a border */
  }