* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#header {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
}

.container2 {
    width: 100%;
    background-color: white;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px; 
}

.search-box {
    display: flex;
    align-items: center;
    position: relative;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: black;
}

.input-search::placeholder {
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color:black;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus ~ .input-search,
.input-search:focus {
    width: 200px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.profile-section {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.profile-name {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.icon {
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.icon:hover{
    color: #22a6b3;
}


.nav1{
    background-color: cadetblue;
    height: 2cm;
    border-bottom: black;
    border-width: 1cm;
    padding-left: 200px;
    border-radius: 10px;
}
.nav1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

}
.nav1 ul li {
    display: inline-block;
}
.nav1 ul li a:hover{
    color:white;
    transition: 0.6s;
}

.nav1 ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px; 
    display: inline-block; 
    box-sizing: border-box; 
    height: 40px; 
    line-height: 20px; 
    border-radius: 5px; 
}


.new{
    background-color: gold;
    border-radius: 5px;
}
.carousel-item{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s; 

}
.carousel-caption{
    align-items: center;
            position: absolute;
            font-size: 40px;
            font-weight: bold;
            transition: 1s;
                    
}

.carousel-item:hover .overlay{
    opacity: 1;
    
   
}
